{% extends 'base_services.html' %}
{% load static %}
{% block content %}

      <section>
        <div class="container servico">
            <h3 class="servico__titulo">Suspensão</h3>
                <div class="container servico_texto">
                    <p class="servico__conteudo">Depois dos pneus, a suspensão é a principal ligação do carro com o asfalto. Dependem dela o nível de conforto e o comportamento dinâmico do veículo.</p>
                    <p class="servico__conteudo">A suspensão de um automóvel é, na verdade, parte do chassi. Umas mais elaboradas, outras mais versáteis e econômicas, elas se diferenciam a depender da filosofia do veículo: se é mais voltado a uma utilização familiar, com maiores preocupações com o conforto, ou se tem proposta esportiva. Entre as várias soluções apresentadas pelos fabricantes de automóveis, seus componentes principais são molas, amortecedores, bandejas, coxins, pivôs; determinantes para garantir a segurança dos usuários desde que em boas condições, por isso sua avaliação deve ser feita a cada 10 mil kms, nas revisões preventivas.</p>

                </div>
                <div class="container servico_margin_conteudo">
                    <img class="servico__imagem " src="{% static 'imagens/imagens-Compactadas/suspensao.jpg' %}" width="527px" height="448px" alt="Imagem desmostrativa do serviço de suspensão">
                </div>

        </div>
      </section>

{% endblock %}